@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap');

:root {
    --main: #82EEFD;
    --secondary: #016064;
    --white: white;
    --black: black;
    --border: 3px solid var(--main);
}
* {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main);
    color: var(--white);
    text-align: center;
    width: 100%;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    color: var(--black);
    background-color: var(--white);
}
p{
    font-size: 30px;
}
#banner, #savedRecipes, #filterContainer{
    background-color: var(--secondary);
}
#saveAndFilter{
    gap: 1rem;
}
#resultContainer{
    background-color: var(--secondary);
    display: none;
    margin-top: 70px;
}
#refilterButton{
    height: fit-content;
}
#refilterDiv{
    display: none;
    height: fit-content;
}
#savedRecipes{
    height: fit-content;
    position: sticky;
    top: 1px;
}
#refilterButton{
    background-color: var(--main);
    border: 2px solid white;
    font-size: 1.5rem;
    color: var(--black);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 16px; 
    position: sticky;
    top: 1px;
    justify-content: center;
} 
#refilterButton:hover{
    background-color: var(--secondary);
    color: var(--white);
    border: 2px solid black;
}
#userInput{
    width: 100%;
}

select{
    width: 50%;
    font-size: 20px;
}
input{
    width: 50%;
    font-size: 20px;
}

.individualRecipe{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#resultContainer .ingredients{
    font-size: larger;
}
#resultContainer .calories{
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    width: fit-content;
}
#resultContainer .prepAndSave {
    border-bottom: var(--border);
    margin: 1rem;
    padding: 1rem;
}
.buttons{
    background-color: var(--main);
    border: 2px solid white;
    font-size: 1.5rem;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.buttons:hover {
    background-color: var(--secondary);
    color: var(--white);
}
.buttons2{
    background-color: var(--main);
    border: 2px solid white;
    font-size: 1rem;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border-radius: 16px;
}
.buttons2:hover {
    background-color: var(--secondary);
    color: var(--white);
}
