@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap');

:root {
    --main: #82EEFD;
    --secondary: #016064;
    --white: white;
    --black: black;
    --border: 3px solid var(--main);
}
* {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main);
    color: var(--white);
    text-align: center;
}

.ingredients{
    margin: 1rem;
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.header {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    height: 5rem;
    gap: 10rem;
}
.title{
    justify-content: center;
}
.banner {

    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}
.logo {
    height: 100%;
    width: auto;
}
.content {
    display: block;
    justify-content: space-evenly;
    margin-left: 0;
}
.directions {
    background-color: var(--secondary);
    font-size: 1.5rem;
    padding: 50px;
}
.mainContainer{
    display: flex;
    justify-content: space-evenly;
}

.savedContainer{
    background-color: var(--secondary);
    margin-left: .5rem;
    margin-top: .5rem;
    width: 20vw;
    height: fit-content;
    position: sticky;
    z-index: 10;
    border: 1px solid white;
}

.filterContainer {
    width: 50rem;
    border: var(--border);
    padding: .5rem 0;
    margin-top: .5rem;
    margin-left: 1rem;
    font-size: 2rem;
    background-color: var(--secondary);
    display: '';
}
.refilterButton{
    background-color: var(--secondary);
    border: 2px solid white;
    font-size: 1.5rem;
    color: var(--white);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    cursor: pointer;
    border-radius: 16px; 
    position: relative;
} 
.refilterButton:hover{
    background-color: var(--main);
    color: var(--black);
    border: 2px solid black;
}
.refilter{
    width: fit-content;

}

select{
    width: 50%;
    font-size: 20px;
}
input{
    width: 50%;
    font-size: 20px;
}
.resultContainer{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 2rem;
    margin: 3rem;
    width: fit-content;
}
.results{
    display: flex;
    justify-content: center;
    width: fit-content;
}
.individualRecipe{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.resultContainer .calories{
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    width: fit-content;
}
.resultContainer .prepAndSave {
    border-bottom: var(--border);
    margin: 1rem;
    padding: 1rem;
}
.buttons{
    background-color: var(--main);
    border: 2px solid white;
    font-size: 1.5rem;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.buttons:hover {
    background-color: var(--secondary);
    color: var(--white);
}
.buttons2{
    background-color: var(--main);
    border: 2px solid white;
    font-size: 1rem;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border-radius: 16px;
}
.buttons2:hover {
    background-color: var(--secondary);
    color: var(--white);
}











@media (max-width:1200px) {
    
    .header {
        justify-content: space-evenly;
        margin: 0;
        width: fit-content;
    }
    .banner {
        font-size: 1rem;
        width: fit-content;
    }
    .directions{
        width: fit-content;
        font-size: 1.1rem;
    }
    .mainContainer{
        width: fit-content;
    }
    .savedContainer{
        width: 6rem;
        font-size: 1rem;
    }
    .filterContainer{
        width: fit-content;
        font-size: 1.2rem;
    }
    .results{
        width: 50vw;
        font-size: 1rem;
    }
    .resultContainer{
        width: fit-content;
        font-size: 1.2rem;
        margin: 1rem;
        align-items: flex-start;
    }
    .individualRecipe{
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
    }

}
@media (max-width:768px) {
    
    .banner {
        font-size: 1rem;

    }

}
@media (max-width:500px){
    .header{
        padding: 0;
        gap: 0;
        align-items: center;
        width: auto;
        justify-content: flex-start;
    }
    .title{
        margin-left: 50px;
    }
    .logo{
        display: none;
    }
    .banner {
        font-size: .5rem;
    }
    .mainContainer{
        flex-direction: column;
    }
    .buttons{
        font-size: .5rem;
    }
    .refilterButton{
        margin: 5px;
        font-size: 1rem;
    }
    .directions{
        font-size: .53rem;
        display: ;
        text-align: center;
    }
    .individualRecipe{
        gap: 0;
    }
    img{
        width: 100%;
    }
}