@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400&display=swap');

:root {
    --main: #82EEFD;
    --secondary: #016064;
    --white: white;
    --black: black;
    --border: 3px solid var(--main);
}
* {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main);
    color: var(--white);
    text-align: center;
}
.header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary);
    height: 5rem;
    gap: 10rem;
}
.title{
    justify-content: center;
}
.banner {
    padding-top: 1.5rem;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 50%;
}
.logo {
    height: 100%;
    width: auto;
}
.content {
    display: flex;
    flex-direction: column;
}
.directions {
    background-color: var(--secondary);
    font-size: 1.5rem;
    padding: 50px;
}
.mainContainer{
    display: flex;
    gap: 2rem;
}
.savedContainer{
    background-color: var(--secondary);
    margin-top: .5rem;
    margin-left: .5rem;
    width: 20vw;
    height: fit-content;
}
.filterContainer {
    width: 50rem;
    border: var(--border);
    padding: .5rem 0;
    margin-top: .5rem;
    font-size: 2rem;
    background-color: var(--secondary);
    justify-content: space-between;
    align-items: space-between;
}   
select{
    width: 50%;
    font-size: 20px;
}
input{
    width: 50%;
    font-size: 20px;
}
.resultContainer{
    background-color: var(--secondary);
    width: fit-content;
    margin: 10px 50px;
    font-size: 2rem;
}
.individualRecipe{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.resultContainer .calories{
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    width: fit-content;
}
.resultContainer .prepAndSave {
    border-bottom: var(--border);
    margin: 1rem;
    padding: 1rem;
}
.buttons{
    background-color: var(--main);
    border: 2px solid white;
    font-size: 1.5rem;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.buttons:hover {
    background-color: var(--secondary);
    color: var(--white);
}










@media (max-width:1200px) {
    
    .header {
        justify-content: space-evenly;
        margin: 0;
    }
    .banner {
        padding: 1rem;
        font-size: 1.5rem;
    }

}
@media (max-width:768px) {
    
    .banner {
        font-size: 1.5rem;
        flex-wrap: wrap;
    }

}
@media (max-width:475px){

    .banner {
        font-size: 1rem;
    }

    img {
        width: auto;
    }

}